# WingIDE user-specific settings
*.wpu

# archives
*.gz
*.tgz
*.xz

# compiled python
*.pyo
*.pyc

# other local GNU utilities
install-info

# symbolic links
cask
git-ls-all

# actual compiled executables
catz
pwdgen

# squirrel-SQL
squirrel*

# CentOS support script
getinfo.sh

# my scripts which are archived elsewhere or not worth adding.
check_apm_pkgs.sh
connect_pc
ef
set_up_git
utl_validate.py

# third-party programs
__init__.py
*.AppImage
*.bak
*.txt
*~
android-studio/
bfg
brew
checkbashisms
clion
closure
closure-latest/
code-insiders
composer*
coverage
css_minify.pl
esptool
evm
filezilla
foreman
gdx-*
github-markup
help/
htmldiff
ipython
jekyll
kramdown
ldiff
learnyounode
lein
listen
mancy
monodevelop
mplab
mpy-cross*
nanoc
ngrok
node_find
node_find.js
pear
peardev
pecl
phantomjs
pip
Postman
pycharm
QtSpim
rackup
rake
rougify
rspec
rubymine
safe_yaml
sass
sass-convert
scss
Sencha
soapui
SoapUI*
sqlite
ssh_linuxvm
startvnc
startvnc.laptop
studio
thor
tixinfo
tkman.py
unicorn
unicorn_rails
utl_validate
vmd
webstorm
wing
wp
wp-cli.phar
wp-completion.bash
# scripts for accessing external servers, possibly w/sensitive data
ssh_*
.DS_Store
sftp_*
mongo*
bsondump
cmaked
cura
luksOpen.sh
m-uart
m-usb
ocdg
resize-home.sh
